<!-- Formulaire proverbe -->
<div class="proverb-form"  [ngClass]="{'not-visible': isQcmReceived}">

  <div class="form-group">
    <select   [(ngModel)]="selectCategory" class="form-control" class="form-control">
      <option value="0">Choisir une catégorie</option>
      <option
        *ngFor="let category of categories"
        value="{{category.id}}">{{category.label}}</option>
    </select>
  </div>
  <button
      (click)="submit()"
    class="btn btn-primary"
    type="button">Recherche</button>

</div>
<!-- Affichage du Proverb-->
<div
  *ngIf="proverbes.length > 0 && !isQcmCompleted"
  class="proverbe" >
  <span>proverb {{indexProverb+1}} sur {{proverbes.length}}</span>
   <h3>  Proverb:</h3> <h5> {{ proverbes[indexProverb].title }}</h5>
    <h3> Auteur:</h3>  <h5>{{ proverbes[indexProverb].auteur}}</h5>
    <h3> Category:</h3>  <h5>{{ proverbes[indexProverb].category.label}}</h5>


  <button
    (click)="suivant()"
    [disabled]="btnSuivantDisabled"
  class="btn btn-primary">Suivant
</button>
</div>
